{% extends 'base.html' %}

{% block title %}Home{% endblock %} 


{% block content %} 
<div>
    <section>
        <h1>Welcome to List Organizier</h1>

        <p>
        List Organizer is a website that offers you the possibility to create online lists to organize yourself. 
        Thiswhy you have your List always with you. Plan and Organizers your shoppings, to-dos or your next family celebration. 
        Of course, you can also share the lists with others and edit them together. 

        Get Startet and create an account, log in and work on your list!
        </p>
    </section>
</div>

{% endblock %}